<div class="mb-3 text-light">
    <%= form.label :title, "タイトル" %>
    <div>
        <%= form.text_field :title, class: "form-control w-auto", :style => "resize: none;", placeholder: "タイトル" %>
    </div>
</div>
<div class="mb-3 text-light">
    <%= form.label :content, "問題文" %>
    <div>
        <%= form.text_area :content, class: "form-control", placeholder: "問題文" %>
    </div>
</div>
<div class="mb-3 text-light">
    <%= form.label :explanation, "答えの解説" %>
    <div>
        <%= form.text_area :explanation, class: "form-control", placeholder: "解説文" %>
    </div>
</div>