<div class="p-3">
  <div class="card bg-dark">
    <div class="card-body">
      <h5 class="card-title mt-3 fw-bold fs-4 text-light">クイズを作成</h5>
      <%= form_for [@user, @quiz], data: { turbo: false } do |f| %>
        <% if @quiz.errors.any? %>
            <div class="alert alert-danger">
                <ul class="mb-0">
                <% @quiz.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        <%= render 'form', form: f %>
        <%= f.fields_for :quiz_options do |quiz_option| %>
        <li class="list-group-item mb-3 border-4 border-dark">
          <%= quiz_option.label :correct, class: "text-white" do %>
            <i class="fa-regular fa-circle text-success"></i>
          <% end %>
          <%= quiz_option.radio_button :correct, true %>
          <%= quiz_option.label :correct, class: "text-white" do %>
            <i class="fa-solid fa-xmark text-danger"></i>
          <% end %>
          <%= quiz_option.radio_button :correct, false, checked: true %>
          <%= quiz_option.text_field :content, placeholder: "選択肢" %>
        </li>
        <% end %>
      <%= f.submit "クイズを投稿", class: "btn btn-primary float-end" %>
      <% end %>
    </div>
  </div>
</div>
