<p><%= @quiz.title %></p>
<p><%= @quiz.content %></p>
<p><%= @quiz.explanation %></p>
<%= link_to "編集", edit_user_quiz_path(current_user, @quiz) %>
<%= button_to "削除", user_quiz_path(current_user, @quiz), method: :delete, data: { turbo_confirm: "削除してよろしいですか？" } %>