<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card card-border text-white">
        <div class="card-body px-5">
          <h5 class="card-title text-center mt-3"><%= @quiz.content %></h5>
          <%= form_with(model: @solved_quiz, url: quiz_solved_quizzes_path(@quiz)) do |f| %>
            <ul class="list-group list-group-flush gap-3">
              <% @quiz.quiz_options.shuffle.each_with_index do |option, index| %>
                <li class="list-group-item bg-secondary text-white rounded mb-2">
                  <div class="form-check">
                    <%= f.radio_button :quiz_option_id, option.id, class: "form-check-input", id: "option-#{option.id}", checked: (index == 0) %>
                    <%= f.label :quiz_option_id, option.content, class: "form-check-label", for: "option-#{option.id}" %>
                  </div>
                </li>
              <% end %>
            </ul>
            <%= f.submit "解答する", class: "btn btn-primary mt-4 mb-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
