<p>タイトル： <br><%= @quiz.title %></p>
<p>問題： <br><%= @quiz.content %></p>
<p>解説： <br><%= @quiz.explanation %></p>

<% if Like.find_by(user_id: current_user.id, quiz_id: @quiz.id) %>
    <%= button_to "いいね取り消し", quiz_like_path(@quiz), method: :delete %>
<% else %>
    <%= button_to "いいね!", quiz_likes_path(@quiz), method: :post %>
<% end %>

<%= @quiz.likes.count %>
<%= form_with(model: @solved_quiz, url: quiz_solved_quizzes_path(@quiz), method: :post) do |f| %>
    <% @quiz.quiz_options.shuffle.each_with_index do |option, index| %>
        <%= f.label :quiz_option_id, option.content %>
        <%= f.radio_button :quiz_option_id, option.id, checked: (index == 0) %>
    <% end %>
    <%= f.submit "解答を投稿", class: "btn btn-primary" %>
<% end %>
