<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card card-new rounded">
        <div class="card-body">
          <div class="centering">
          <h2 class="text-left mt-3 mb-4 text-white fw-medium">アカウント作成</h2>  
              <%= form_with(model: @user) do |f| %>
              <div class="mb-3 text-white">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>

              <div class="mb-3 text-white">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </div>

              <div class="mb-3 text-white">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>

              <div class="mb-4 text-white">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>

              <div class="d-grid gap-2 pb-3">
                <%= f.submit "アカウント作成", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>