<div class="p-3">
  <div class="card bg-dark">
    <div class="card-body">
      <h5 class="card-title mt-3 fw-bold fs-4 text-light">ユーザー情報</h5>
      <ul class="list-group list-group-flush gap-3">
        <li class="list-group-item bg-secondary text-white rounded mb-2">
          <strong>名前:</strong> <%= @user.name %>
        </li>
        <li class="list-group-item bg-secondary text-white rounded mb-2">
          <strong>メールアドレス:</strong> <%= @user.email %>
        </li>
        <li class="list-group-item bg-secondary text-white rounded mb-2">
          <strong>作成したクイズ数:</strong> <%= @user.quizzes.count %>
        </li>
        <li class="list-group-item bg-secondary text-white rounded mb-2">
          <strong>解答したクイズ数:</strong> <%= @user.solved_quizzes.count %>
        </li>
        <li class="list-group-item bg-secondary text-white rounded mb-2">
          <strong>正解したクイズ数:</strong> <%= @user.solved_quizzes.correct.count %>
        </li>
      </ul>
    </div>
  </div>
</div>

