<!DOCTYPE html>
<html>
<head>
  <title>BUZZAR</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<header>
  <div class="header">
    <%= link_to 'BUZZAR', root_path, class: 'logo' %>
    <nav>
      <button class=nav-link>クイズを作成</button>
      <button class=nav-link>回答履歴</button>
      <button class=nav-link>ログイン</button>
      <button class=nav-link>登録</button>
    </nav>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</header>
<footer>
  <p>© 2025 プロテインシェイカーズ</p>
</footer>
</html>
